
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <% if (!loggedIn) { %>
    <a href="/sign_in_with_strava">Sign in with Strava</a>
  <% } %>
  <div><%= notice %></div>
  <a href="/map">Map</a>

  <a href="/sign_in_with_runkeeper">Sign in with RunKeeper</a>
  <a href="rk_map">Runkeeper Map</a>
</body>
</html>