
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% if (!loggedIn) { %>
    <a href="/sign_in_with_strava">Sign in with Strava</a>
  <% } %>
  <div><%= notice %></div>
</body>
</html>