<!DOCTYPE html>
  <html>
  <head>
    <title>RK Map</title>
    <script type="text/javascript" src="<%= src %>"></script>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="js/rk_mapper.js"></script>
    <style type="text/css"> 
    #map {width:90%;height:600px;margin:0 auto;}
    </style>
  </head>
  <body>
    <div class="ui large menu">
      <a href="/" class="header item">Over-Map</a>
      <a href="#" class="item">Data provided by RunKeeper</a>

      <div class="right item" id="info">
        <div class="item"><span class="activities detected">0</span> Activities</div>
        <div class="item"><span class="distance miles">0</span> Miles</div>
        <div class="item"><span class="distance kilometers">0</span> KM</div>
      </div>
    </div><!--.ui.fixed.menu"-->
    <div class="ui indicating progress" id="progressBar">
      <div class="bar">
        <div class="progress"></div>
      </div>
    </div>

    <div id="map"></div>

    <div class="ui three cards" id="details">
      <div class="red card running">
        <div class="content">
          <div class="header">Running</div>
        </div>
        <div class="content">
          <p><span class="activities">0</span> Activities</p>
          <p><span class="miles">0</span> Miles</p>
        </div>
      </div>

      <div class="blue card walking">
        <div class="content">
          <div class="header">Walking</div>
        </div>
        <div class="content">
          <p><span class="activities">0</span> Activities</p>
          <p><span class="miles">0</span> Miles</p>
        </div>
      </div>

      <div class="orange card cycling">
        <div class="content">
          <div class="header">Cycling</div>
        </div>
        <div class="content">
          <p><span class="activities">0</span> Activities</p>
          <p><span class="miles">0</span> Miles</p>
        </div>
      </div>
    </div>
  </body>
</html>