<!DOCTYPE html>
  <html>
  <head>
    <title>RK Map</title>
    <script type="text/javascript" src="<%= src %>"></script>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/rk_mapper.js"></script>
    <style type="text/css"> 
    #map {width:670px;height:600px;}
    </style>
  </head>
  <body> 
    <h1>Map!</h1>
    <div id="info">
      <p><span class="activities mapped">0</span> of <span class="activities detected">0</span> activities mapped.</p>
      <p>Total Kilometers: <span class="distance kilometers">0</span></p>
      <p>Total Miles: <span class="distance miles">0</span></p>
    </div>
    <div id="map"></div>
    <div id="details">
      <p class="running">Running: <span class="activities">0</span>, Miles: <span class="miles">0</span></p>
      <p class="walking">Walking: <span class="activities">0</span>, Miles: <span class="miles">0</span></p>
      <p class="cycling">Cycling: <span class="activities">0</span>, Miles: <span class="miles">0</span></p>
    </div>

  </body>
</html>